/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1080px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem > label {
  font-size: 12px;
}

.lsItem > input {
  height: 30px;
  border: none;
  padding: 5px;
  background-color: #d9d4cf;
  border-radius: 5px;
}
.lsItem > span {
  height: 30px;
  padding: 5px;
  background-color: #d9d4cf;
  border-radius: 5px;
  color: #7c7877;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}
.lsOptionInputWrap {
  display: flex;
  align-items: center;
  width: 94px;
  height: 28px;
  border-radius: 2px;
  border: 1px solid #7c7877;
  padding: 0 5px;
}

.lsOptionInput {
  border: none;
  appearance: none;
  width: 20px;
  background-color: inherit;
}

.countInput {
  background-color: inherit;
  text-align: center;
}

.price {
  width: 100%;
  padding-left: 5px;
}

.listSearch > button {
  border: 1px solid #7c7877;
  border-radius: 5px;
  padding: 10px;
  color: #7c7877;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.listSearch > button:hover {
  background-color: #d9d4cf;
}

.listResult {
  flex: 3;
}
