$lightBlue-color: #c7dddc;
$navyBlue-color: #55809a;
$lightGreen-color: #108586;
$blueGreen-color: #295568;
$darkGreen-color: #08494a;
$black-color: #1c1d22;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1080px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  position: sticky;
  top: 10px;
  height: max-content;

  & > button {
    border: 1px solid $navyBlue-color;
    border-radius: 5px;
    padding: 10px;
    color: $darkGreen-color;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $lightBlue-color;
    }
  }
}

.lsTitle {
  font-size: 20px;
  color: $black-color;
  margin-bottom: 10px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;

  label {
    font-size: 12px;
  }

  & > input {
    height: 30px;
    border: none;
    padding: 5px 10px;
    color: $darkGreen-color;
    background-color: $lightBlue-color;
    border-radius: 5px;
  }

  & > span {
    height: 30px;
    padding: 5px;
    background-color: $lightBlue-color;
    border-radius: 5px;
    color: $darkGreen-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInputWrap {
  display: flex;
  align-items: center;
  width: 94px;
  height: 28px;
  border-radius: 2px;
  border: 1px solid $navyBlue-color;
  padding: 0 5px;
}

.lsOptionInput {
  border: none;
  appearance: none;
  width: 20px;
  background-color: inherit;
}

.countInput {
  background-color: inherit;
  text-align: center;
}

.price {
  width: 100%;
  padding-left: 5px;
}

.listResult {
  flex: 3;
}
