$lightBlue-color: #c7dddc;
$navyBlue-color: #55809a;
$lightGreen-color: #108586;
$blueGreen-color: #295568;
$darkGreen-color: #08494a;
$black-color: #1c1d22;

.sidebar {
    flex: 1;
    border-right: 1px solid rgba(224, 224, 224, 1);
    min-height: 100vh;
    background-color: #fff;
}

.top {
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;

    .adminTitle {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .logo {
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: $black-color;
    }
}

hr {
    height: 0;
    border: 0.5px solid rgba(224, 224, 224, 1);
}

.center {
    padding-left: 10px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        .title {
            font-weight: bold;
            margin: 15px 0 5px 0;
        }

        li {
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;

            &:hover {
                background-color: $lightBlue-color;
            }

            .icon {
                font-size: 18px;
                color: $navyBlue-color;
            }

            span {
                font-size: 14px;
                font-weight: 600;
                color: $black-color;
                margin-left: 10px;
            }
        }
    }
}
