.header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../../../public/images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1080px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 70px;
}

.headerListItem > * {
  flex-grow: 1;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  width: 100px;
  height: 100%;
  top: 0;
  right: 0;
  color: #7c7877;
  background-color: #d9d4cf;
  font-weight: 500;
  border: none;
  position: absolute;
  cursor: pointer;
  font-size: 16px;
}

.headerSearch {
  position: relative;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  width: 100%;
  max-width: 1080px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  font-size: 16px;
  color: #7c7877;
  border-bottom: 1px solid #7c7877;
}

.headerSearchText {
  color: #7c7877;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #7c7877;
  border: 1px solid #7c7877;
  border-radius: 2px;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
  color: #7c7877;
}

.optionCounterButton:hover {
  background-color: #d9d4cf;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
