$lightBlue-color: #c7dddc;
$navyBlue-color: #55809a;
$lightGreen-color: #108586;
$blueGreen-color: #295568;
$darkGreen-color: #08494a;
$black-color: #1c1d22;

.datatable {
    height: 600px;
    padding: 20px;
}

.datatableTitle {
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
        text-decoration: none;
        color: inherit;
        font-size: 14px;
        color: #295568;
        font-weight: bold;
        border: 1px solid #55809a;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
        padding: 2px 5px;
        border-radius: 5px;
        background-color: $navyBlue-color;
        color: white;
        cursor: pointer;
    }

    .deleteButton {
        padding: 2px 5px;
        border-radius: 5px;
        background-color: #5c66cc;
        color: white;
        cursor: pointer;
    }
}
