$lightBlue-color: #c7dddc;
$navyBlue-color: #55809a;
$lightGreen-color: #108586;
$blueGreen-color: #295568;
$darkGreen-color: #08494a;
$black-color: #1c1d22;

Link {
  color: inherit;
  text-decoration: none;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1080px;
  position: relative;
  color: $black-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  color: $navyBlue-color;
  cursor: pointer;
}

.navItems {
  button {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: $black-color;
  }
}

.navUserButton {
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: white;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $navyBlue-color;
}

.userUl {
  list-style: none;
  padding-left: 0;
  background: white;
  position: absolute;
  width: 150px;
  height: 100px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 100;
  right: 14%;
  top: 50%;
  font-size: 14px;
  transform: translate(100%, 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userLi {
  cursor: pointer;
  padding: 10px;
  color: $black-color;

  &:hover {
    background-color: $lightBlue-color;
  }
}

.navIcon {
  padding-right: 10px;
}
